$primary: #006699;

h2 {
   color: $primary;
}
.cards {
    margin: 30px 207px;

}
.card {
    margin: 50px;
    width: 150px;
    height: 200px;
    background-color: green;
    float: left;
    box-shadow: -10px 10px 10px #888888;
    color: white;
}
.clearFloat {
    clear: both;
}

.numAlign {
    padding: 80px 60px;
}
.hidden {
    display: none;
}
.btn-align {
    float: right;
}
.btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: -5px 5px 5px #888888;
    font-weight: bolder;

}
.showNum {
    color: #2a5aa8;
    font-size: 28px;
    font-weight: 800;
    text-shadow: 2px 2px 10px grey;
}